var members = {
  "type": "FeatureCollection",
  "features": [
    <% @features.each do |feature| %>
    {
      "geometry": {
        "type": "Point",
        "coordinates": [<%= feature[:longitude] %>, <%= feature[:latitude] %>]
      },
      "type": "Feature",
      "properties": {
        "popupContent": "<h2><a href=\"<%= feature[:website] %>\"><%= feature[:organization] %></a></h2><p>Partner since <strong><%= feature[:joined].strftime("%B %Y") %></strong></p><p><%= feature[:city] %>, <%= feature[:state] %></p>"
      },
      "id": <%= feature[:id] %>
    },
    <% end %>
  ]
};
